* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.col-prim {
  color: #fd6e0a;
}
p {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
header nav {
  padding: 50px 225px;
  display: flex;
  justify-content: space-between;
}

.logo h2 {
  font-weight: 800;
  font-size: 45px;
  line-height: 65.47px;
  color: #181818;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
nav ul li {
  margin: 0px 30px;
  font-size: 20px;
  color: #474747;
}

.btn-prym {
  padding: 18px 35px;
  background-color: #fd6e0a;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 600;
}

/* Header Banner */
header {
  background: #fff8f3;
  height: 110vh;
  background-image: url("./images/hardy.png"), url("./images/header_bg.png"),
    url("./images/developer.png");
  background-position: right bottom, bottom right, left;
  background-repeat: no-repeat;
}
.banner {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.leftAside {
  padding: 50px 225px;
}
.leftAside h1 {
  font-size: 80px;
  margin: 20px 0;
  color: #181818;
}
.leftAside h2 {
  font-size: 40px;
  color: #474747;
}
.leftAside p {
  width: 550px;

  color: #a7a4a2;
}
.leftAside button {
  margin-top: 40px;
}
.contact-btn {
  padding: 18px 35px;
  background-color: transparent;
  color: #fd6e0a;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  font-size: 18px;
  font-weight: 600;
  margin-left: 30px;
}

/* About me sectioin */
.container {
  padding: 130px 225px;
}
.aboutBody {
  padding: 131px 156px;
  background-color: #fff8f3;
  border-radius: 5px;
  text-align: center;
}
.aboutContent h1 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin: 30px 0;
}

/* .aboutContent p {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
} */
.aboutOptionBar {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.aboutOptionBar b {
  color: #474747;
  font-weight: 900;
  font-size: 20;
  line-height: 30px;
}

/* Skils Section */
.skils-section {
  padding: 0px 225px;
  text-align: center;
}

.skils-content h1 {
  font-size: 35px;
  color: #181818;
}
.skils-content > p {
  padding: 30px 100px;
}
.skil-container {
  display: flex;
}
.skil {
  padding: 30px;
  text-align: left;
  width: 267px;
  justify-content: space-around;
  margin-right: 20px;
  box-shadow: 1px 10px 20px 20px #f6f6f6;
}

.skil h1 {
  font-size: 20px;
  padding: 20px 0;
}
.skil > p {
  font-size: 16px;
}
/* Sammery of education and exp. */

.summary-of-resume {
  text-align: center;
}

.summary-of-resume > h1 {
  font-size: 35px;
  color: #181818;
  padding-bottom: 113px;
}

.exp-cont {
  display: flex;
}
.education > h1,
.expirance > h1 {
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 30px;
}

.edu-container h1,
.experience-container h1 {
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.edu-container h2,
.experience-container h2 {
  font-size: 20px;
  color: #757575;
}
.edu-container p,
.experience-container p {
  margin: 20px 0;
  font-size: 16px;
}

.edueliment {
  text-align: left;

  margin: 30px;
}

hr {
  width: 95%;
  margin-left: 20px;
}

/* cotent section  */
.contact {
  height: 100vh;
  background-color: #fff8f3;
  justify-content: center;
}
.social-contact {
}
.contact-method h1 {
  font-size: 35px;
  color: #181818;
  padding: 20px 0;
}
.contact-method {
  display: flex;
  justify-content: space-around;
}
.social-contact p {
  font-size: 16px;
  width: 550px;
}
.socila-icon img {
  margin-right: 20px;
  margin-top: 20px;
}

.message-contact input {
  display: block;
  width: 450px;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  outline: none;
  border-radius: 5px;
}

.message-contact textarea {
  resize: none;
  width: 450px;
  height: 180px;
  outline: none;
  border: none;
  margin-bottom: 20px;
}
